USE [master]
GO
/****** Object:  Database [CharityManagement]    Script Date: 12/12/2024 8:26:39 AM ******/
CREATE DATABASE [CharityManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CharityManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\CharityManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CharityManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\CharityManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CharityManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CharityManagement]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 12/12/2024 8:26:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[UserAdmin] [varchar](50) NOT NULL,
	[PassAdmin] [varchar](10) NULL,
	[NameAdmin] [nvarchar](100) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[UserAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHIENDICH]    Script Date: 12/12/2024 8:26:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHIENDICH](
	[MaCD] [int] IDENTITY(1,1) NOT NULL,
	[TenCD] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaQL] [int] NOT NULL,
	[AnhBia] [varchar](50) NOT NULL,
	[TongQuy] [decimal](18, 0) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETQUYENGOP]    Script Date: 12/12/2024 8:26:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETQUYENGOP](
	[MaQG] [int] NOT NULL,
	[MaCD] [int] NOT NULL,
	[SoTienQG] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CTQuyenGop] PRIMARY KEY CLUSTERED 
(
	[MaQG] ASC,
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIENHE]    Script Date: 12/12/2024 8:26:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIENHE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLH] [nvarchar](60) NULL,
	[SDTLH] [varchar](20) NULL,
	[EmailLH] [nvarchar](100) NULL,
	[NgayGui] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/12/2024 8:26:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[TaiKhoan] [varchar](50) NULL,
	[MatKhau] [varchar](20) NOT NULL,
	[Email] [varchar](100) NULL,
	[SDT] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgaySinh] [datetime] NULL,
	[NgayDangKi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 12/12/2024 8:26:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MaQL] [int] IDENTITY(1,1) NOT NULL,
	[TenQL] [nvarchar](100) NOT NULL,
	[EmailQL] [nvarchar](100) NULL,
	[SDTQL] [varchar](20) NULL,
	[TieuSu] [nvarchar](max) NULL,
	[AnhQL] [varchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYENGOP]    Script Date: 12/12/2024 8:26:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYENGOP](
	[MaQG] [int] IDENTITY(1,1) NOT NULL,
	[MaND] [int] NULL,
	[SoTien] [decimal](18, 0) NULL,
	[NgayQuyenGop] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUVIEN]    Script Date: 12/12/2024 8:26:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUVIEN](
	[MaCD] [int] NOT NULL,
	[MaHA] [int] IDENTITY(1,1) NOT NULL,
	[Anh] [varchar](50) NOT NULL,
	[NgayDang] [datetime] NULL,
 CONSTRAINT [pk_THUVIEN] PRIMARY KEY CLUSTERED 
(
	[MaCD] ASC,
	[MaHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADMIN] ([UserAdmin], [PassAdmin], [NameAdmin]) VALUES (N'admin', N'123456', N'Nguyễn Văn A')
INSERT [dbo].[ADMIN] ([UserAdmin], [PassAdmin], [NameAdmin]) VALUES (N'user', N'13579', N'Nguyễn Văn B')
GO
SET IDENTITY_INSERT [dbo].[CHIENDICH] ON 

INSERT [dbo].[CHIENDICH] ([MaCD], [TenCD], [MoTa], [MaQL], [AnhBia], [TongQuy], [NgayTao]) VALUES (1, N'Mái ấm tình thương', N'Xây nhà tình thương cho các gia đình khó khăn', 3, N'maiamtinhthuong.jpg', CAST(103000000 AS Decimal(18, 0)), CAST(N'2024-11-21T00:00:00.000' AS DateTime))
INSERT [dbo].[CHIENDICH] ([MaCD], [TenCD], [MoTa], [MaQL], [AnhBia], [TongQuy], [NgayTao]) VALUES (3, N'Thắp sáng ước mơ', N'Cung cấp học bổng cho học sinh nghèo hiếu học', 4, N'thapsanguocmo1.png', CAST(250050000 AS Decimal(18, 0)), CAST(N'2024-11-20T00:00:00.000' AS DateTime))
INSERT [dbo].[CHIENDICH] ([MaCD], [TenCD], [MoTa], [MaQL], [AnhBia], [TongQuy], [NgayTao]) VALUES (4, N'Cùng em đến trường', N'Xây dựng trường học cho trẻ em ở vùng sâu vùng xa, vùng khó khăn', 5, N'cungemdentruong.png', CAST(161100000 AS Decimal(18, 0)), CAST(N'2024-11-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CHIENDICH] OFF
GO
INSERT [dbo].[CHITIETQUYENGOP] ([MaQG], [MaCD], [SoTienQG]) VALUES (1, 1, CAST(300000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETQUYENGOP] ([MaQG], [MaCD], [SoTienQG]) VALUES (2, 1, CAST(300000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETQUYENGOP] ([MaQG], [MaCD], [SoTienQG]) VALUES (2, 4, CAST(200000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[LIENHE] ON 

INSERT [dbo].[LIENHE] ([ID], [TenLH], [SDTLH], [EmailLH], [NgayGui]) VALUES (9, N'Thanh', N'0345677894', N'thaoxinh@gmail.com', CAST(N'2024-12-11T20:17:52.027' AS DateTime))
INSERT [dbo].[LIENHE] ([ID], [TenLH], [SDTLH], [EmailLH], [NgayGui]) VALUES (10, N'Thảo', N'0354894561', N'thuyoi@gmail.com', CAST(N'2024-12-11T20:17:56.113' AS DateTime))
INSERT [dbo].[LIENHE] ([ID], [TenLH], [SDTLH], [EmailLH], [NgayGui]) VALUES (11, N'Hiển', N'0345677894', N'thaoxinh@gmail.com', CAST(N'2024-12-11T20:18:01.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[LIENHE] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([MaND], [HoTen], [TaiKhoan], [MatKhau], [Email], [SDT], [DiaChi], [NgaySinh], [NgayDangKi]) VALUES (1, N'Nguyễn Nhật Thanh', N'Thanhnguyen', N'123456', N'thanhblink@gmail.com', N'0376704109', N'32/13, Võ Văn Hát, Long Trường', CAST(N'2004-08-20T00:00:00.000' AS DateTime), CAST(N'2023-10-20T00:00:00.000' AS DateTime))
INSERT [dbo].[NGUOIDUNG] ([MaND], [HoTen], [TaiKhoan], [MatKhau], [Email], [SDT], [DiaChi], [NgaySinh], [NgayDangKi]) VALUES (2, N'Nguyễn Văn Linh', N'vanlinh', N'02468', N'linh@gmail.com', N'0376704107', N'32/15, Võ Văn Hát, Long Trường', CAST(N'1999-01-25T00:00:00.000' AS DateTime), CAST(N'2023-10-25T00:00:00.000' AS DateTime))
INSERT [dbo].[NGUOIDUNG] ([MaND], [HoTen], [TaiKhoan], [MatKhau], [Email], [SDT], [DiaChi], [NgaySinh], [NgayDangKi]) VALUES (3, N'Nguyễn Ngọc Hải', N'hainguyen123', N'123456', N'hai@gmail.com', N'0983587789', N'42 Lã Xuân Oai, Thủ Đức', CAST(N'1998-11-23T00:00:00.000' AS DateTime), CAST(N'2023-11-28T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[QUANLY] ON 

SET IDENTITY_INSERT [dbo].[QUANLY] OFF
GO
SET IDENTITY_INSERT [dbo].[QUYENGOP] ON 

INSERT [dbo].[QUYENGOP] ([MaQG], [MaND], [SoTien], [NgayQuyenGop]) VALUES (1, 1, CAST(300000 AS Decimal(18, 0)), CAST(N'2023-09-23T18:47:48.140' AS DateTime))
INSERT [dbo].[QUYENGOP] ([MaQG], [MaND], [SoTien], [NgayQuyenGop]) VALUES (2, 1, CAST(500000 AS Decimal(18, 0)), CAST(N'2023-09-24T10:43:38.657' AS DateTime))
INSERT [dbo].[QUYENGOP] ([MaQG], [MaND], [SoTien], [NgayQuyenGop]) VALUES (3, 1, CAST(15000 AS Decimal(18, 0)), CAST(N'2023-10-24T15:35:21.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[QUYENGOP] OFF
GO
SET IDENTITY_INSERT [dbo].[THUVIEN] ON 

INSERT [dbo].[THUVIEN] ([MaCD], [MaHA], [Anh], [NgayDang]) VALUES (1, 1, N'nhatinhthuong1.jpg', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[THUVIEN] ([MaCD], [MaHA], [Anh], [NgayDang]) VALUES (1, 5, N'nhatinhthuong2.jpg', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[THUVIEN] ([MaCD], [MaHA], [Anh], [NgayDang]) VALUES (1, 6, N'nhatinhthuong3.jpg', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[THUVIEN] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGUOIDUN__A9D105343DEBD857]    Script Date: 12/12/2024 8:26:40 AM ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGUOIDUN__D5B8C7F0B3C29B3A]    Script Date: 12/12/2024 8:26:40 AM ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__QUANLY__7ED955FC6ADCA53F]    Script Date: 12/12/2024 8:26:40 AM ******/
ALTER TABLE [dbo].[QUANLY] ADD UNIQUE NONCLUSTERED 
(
	[EmailQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LIENHE] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT (getdate()) FOR [NgayDangKi]
GO
ALTER TABLE [dbo].[THUVIEN] ADD  CONSTRAINT [DF_THUVIEN_NgayDang]  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[CHIENDICH]  WITH CHECK ADD FOREIGN KEY([MaQL])
REFERENCES [dbo].[QUANLY] ([MaQL])
GO
ALTER TABLE [dbo].[CHITIETQUYENGOP]  WITH CHECK ADD  CONSTRAINT [FK_ChienDich] FOREIGN KEY([MaCD])
REFERENCES [dbo].[CHIENDICH] ([MaCD])
GO
ALTER TABLE [dbo].[CHITIETQUYENGOP] CHECK CONSTRAINT [FK_ChienDich]
GO
ALTER TABLE [dbo].[CHITIETQUYENGOP]  WITH CHECK ADD  CONSTRAINT [FK_QuyenGop] FOREIGN KEY([MaQG])
REFERENCES [dbo].[QUYENGOP] ([MaQG])
GO
ALTER TABLE [dbo].[CHITIETQUYENGOP] CHECK CONSTRAINT [FK_QuyenGop]
GO
ALTER TABLE [dbo].[QUYENGOP]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[THUVIEN]  WITH CHECK ADD  CONSTRAINT [fk_CD] FOREIGN KEY([MaCD])
REFERENCES [dbo].[CHIENDICH] ([MaCD])
GO
ALTER TABLE [dbo].[THUVIEN] CHECK CONSTRAINT [fk_CD]
GO
ALTER TABLE [dbo].[CHIENDICH]  WITH CHECK ADD CHECK  (([TongQuy]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETQUYENGOP]  WITH CHECK ADD CHECK  (([SoTienQG]>=(0)))
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD CHECK  (([SDT] like '[0-9]%'))
GO
ALTER TABLE [dbo].[QUANLY]  WITH CHECK ADD CHECK  (([SDTQL] like '[0-9]%'))
GO
ALTER TABLE [dbo].[QUYENGOP]  WITH CHECK ADD CHECK  (([SoTien]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_QuyenGopTheoThang]    Script Date: 12/12/2024 8:26:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_QuyenGopTheoThang]
AS
BEGIN
    SELECT 
        YEAR(NgayQuyenGop) AS Nam,
        MONTH(NgayQuyenGop) AS Thang,
        COUNT(*) AS SoLuotQuyenGop
    FROM QUYENGOP
    GROUP BY YEAR(NgayQuyenGop), MONTH(NgayQuyenGop)
    ORDER BY Nam, Thang;
END
GO
USE [master]
GO
