<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thanhnguyen2004-001-site1.ptempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win1230.site4now.net:8172/msdeploy.axd?site=thanhnguyen2004-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>thanhnguyen2004-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>thanhnguyen2004-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="CharityManagementEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL1001.site4now.net;Initial Catalog=db_ab07e2_login;User ID=db_ab07e2_login_admin;Password=Th@nh2004" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BTL_CharityWebsite.Models.CharityManagementEntities, BTL_CharityWebsite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CharityManagementEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CharityManagementEntities.csdl|res://*/Models.CharityManagementEntities.ssdl|res://*/Models.CharityManagementEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL1001.site4now.net;Initial Catalog=db_ab07e2_login;User ID=db_ab07e2_login_admin;Password=Th@nh2004"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>