@model IEnumerable<BTL_CharityWebsite.Models.CHIENDICH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .campaign_section {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 20px;
        padding-bottom: 150px;
        background-color: #f9f9f9; /* Nền sáng */
    }

        .campaign_section .campaign_container {
            text-align: center;
        }

            .campaign_section .campaign_container h2 {
                padding: 40px;
                font-weight: bold;
                color: #5187af;
            }

        .campaign_section .campaign_row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .campaign_section .campaign_card {
            flex: 0 0 30%; /* Mỗi cột chiếm 50% chiều rộng */
            max-width: 20%;
            padding: 15px; /* Điều chỉnh padding */
            margin: 30px;
            border: 1px solid #ddd; /* Viền cho mỗi div */
            border-radius: 10px; /* Bo tròn góc */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng */
            transition: transform 0.3s ease; /* Hiệu ứng mượt khi hover */
            text-align: center;
            background-color: #fff; /* Nền trắng */
        }

            .campaign_section .campaign_card:hover {
                transform: scale(1.05); /* Phóng to nhẹ khi hover */
                cursor: pointer;
            }

            .campaign_section .campaign_card img {
                width: 100%;
                height: auto; /* Đảm bảo hình ảnh không bị méo */
                border-radius: 10px;
            }

            .campaign_section .campaign_card .campaign_body {
                padding: 10px 0;
            }

            .campaign_section .campaign_card .campaign_title {
                font-size: 18px;
                font-weight: bold;
                color: #333; /* Màu chữ */
            }
</style>



<section class="campaign_section layout_padding">

    <div class="campaign_container">
        <h2>CHIẾN DỊCH</h2>
        <div class="campaign_row">
            @foreach (var item in Model)
            {
                <div class="campaign_card">
                    <a href="@Url.Action("chiTietCD", "Campaign", new { id = item.MaCD})" style="text-decoration: none;">
                        <img src="~/Content/images/@item.AnhBia" alt="@item.TenCD" />
                        <div class="campaign_body">
                            <h4 class="campaign_title">@item.TenCD</h4>
                        </div>
                        <div class="campaign_total">
                            <p style="color: red">Tổng quỹ: @String.Format("{0:0,0}", item.TongQuy) VND</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
