@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <div id="about" class="about">
        <div class="container">
            <!-- About Section -->
            <div class="col-md-3 about-left text-center">
                <h3>About</h3>
            </div>
            <div class="col-md-9 about-right">
                <p>Yuva Social Movement is the best NGO in India working for children's.</p>
            </div>
            <div class="clearfix"></div>
            <!-- Our Story Section -->
            <div class="abt-btm">
                <div class="col-md-2 abt-btm-left">
                    <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
                        <a href="#" class="hi-icon glyphicon glyphicon-heart"></a>
                    </div>
                </div>
                <div class="col-md-5 abt-btm-middle">
                    <h4>Our Story</h4>
                    <h5>Orphanage, Old Age Home, Child Education, Livelihood Training</h5>
                    <p>For Every Child - Food, Healthcare, Education and a safe place to grow up. Mask Off. Perspective. Language Learning Program. Income Generation Program.</p>
                </div>
                <div class="col-md-5 abt-btm-right mask">
                    <img src="@Url.Content("~/Content/images/11.jpg")" alt="Our Story Image" class="img-responsive zoom-img" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</center>
